{% extends "layouts/main.html" %}

{% set pageName = "We have received your request" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">We have received your request</h1>
      <div class="govuk-panel__body">
        Your reference number<br>
        <strong>{{ data["reference"] }}</strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">Based on your answers, we will connect you with the right support service. This may include your GP, eating disorder specialists, or Citizens Advice for practical help.</p>
    <p class="govuk-body">We will contact you within 2 working days using your preferred contact method</p>
    <p class="govuk-body"><a href="/start" class="govuk-link">Start a new application</a></p>

  </div>
</div>
{% endblock %}
