{% extends "layouts/main.html" %}

{% set pageName = "Are you having thoughts of harming yourself?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["immediate-risk"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["immediate-risk"], href: "#immediate-risk" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "immediate-risk",
      fieldset: {
        legend: {
          text: "Are you having thoughts of harming yourself?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: { text: "This includes thoughts about seriously hurting yourself or ending your life" },
      errorMessage: errors["immediate-risk"] if errors else null,
      value: data["immediate-risk"],
      items: [
        { value: "yes", text: "Yes" },
        { value: "no", text: "No" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
